body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0a121f;
    font-family: "Faculty Glyphic", sans-serif;
}
.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", serif;
  font-weight: 400;
  font-style: normal;
}
.contenedor {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    height: 100vh;
    width: 100%;
}

#text_rulette {
    font-family: "Faculty Glyphic", sans-serif;
    color: black;
}

.ruleta-fondo {
    position: absolute;
    top: 50%;
    left: calc(45% - 570px);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: radial-gradient(circle, #fffedf, #fffedf, #fffedf);
    transform: translateY(-50%);
    z-index: -1;
}

#idcanvas {
    position: relative;
    z-index: 1;
    background: transparent;
    font-family: "Faculty Glyphic", sans-serif;
}

.controles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#concursantesInput {
    width: 250px;
    height: 150px;
    resize: vertical;
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Faculty Glyphic", sans-serif;
    margin-right: 500px;
}
.boton-girar {
    margin-top: 20px;
    position: relative;
    padding: 10px 20px;
    font-size: 50px;
    cursor: pointer;
    font-family: "Faculty Glyphic", sans-serif;
    margin-right: -420px;
    border: none;
    color: #fff; 
    background-color: #9600bb;
    box-shadow: 0 4px 6px rgba(142, 21, 190, 0.644); 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.boton-girar:hover {
    background-color: #f700f7; 
    transform: translateY(-2px); 
}

.boton-girar:active {
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.boton-girar:disabled {
    background-color: #ccc; 
    color: #666; 
    cursor: not-allowed; 
    box-shadow: none; 
}
.boton-actualizar{
    margin-top: 20px;
    position: relative;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: "Faculty Glyphic", sans-serif;
    margin-left: 740px;  
    margin-top: 20px;
    position: relative;
    padding: 10px 20px;
    font-size: 40px;
    cursor: pointer;
    font-family: "Faculty Glyphic", sans-serif;
    margin-right: 300px;
    border: none; 
    color: #fff; 
    background-color: #9600bb; 
    box-shadow: 0 4px 6px rgba(142, 21, 190, 0.644); 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    }

.boton-actualizar:hover {
    background-color: #f700f7; 
    transform: translateY(-2px); 
}

.boton-actualizar:active {
    transform: translateY(1px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
.boton-actualizar:disabled {
    background-color: #ccc; 
    color: #666; 
    cursor: not-allowed; 
    box-shadow: none; 
}
.imagen-lateral {
    max-width: 300px;
    height: auto;
    border-radius: 1px; 
    margin-left: 300px; 
.textarea-in {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    font-size: 14px;
    padding: 10px;
    font-family: "Faculty Glyphic", sans-serif;
    margin-left: 425px;  
}
@font-face {
	font-family: "LithosF";
	src: url("style/Reaver-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "LithosB";
	src: url("style/Reaver-Bold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
h1 {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
    margin: 0;
    animation: cambioColor 3s infinite; 
}

@keyframes cambioColor {
    0% {
        color: white;
    }
    20% {
        color: #00ff00;
    }
    35% {
        color: rgb(212, 0, 255);
    }
    50% {
        color: rgb(255, 251, 0);
    }
    80% {
        color: #d600c4;
    }
    100% {
        color: rgb(132, 0, 255);
    }
}
html, body {
    overflow: auto; 
    scrollbar-width: none; 
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; 
}

.ruleta-container {
    position: relative;
    display: inline-block;
}

#idcanvas {
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}

.footer {
    background-color: #33333300; 
    color: white; 
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    display: flex;
    align-items: center;
}
.footer-bar a {
    pointer-events: none;
}
.footer-bar a:hover {
    pointer-events: auto;
}
.slogo-bar {
    display: flex;
    gap: 10px; 
    margin-left: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border: 1px solid #cccccc00; 
    filter: invert(1) brightness(2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0); 
    margin-left: 5px;
    margin-left: 5px;
    margin-bottom: 30px;
    transition: transform 0.2s;
}
.logo-firt {
    width: 50px;
    height: 50px;
    object-fit: contain; 
    border: 1px solid #cccccc00; 
    filter: invert(1) brightness(2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0); 
    margin-left: 20px;
    margin-bottom: 30px;
    transition: transform 0.2s;
}
.logo:hover {
    transform: scale(1.1); 
}
.logo-firt:hover {
    transform: scale(1.1); 
}
